root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.cs]
# Use file-scoped namespaces (C# 10+)
csharp_style_namespace_declarations = file_scoped:suggestion
# Require 'var' when type is apparent
csharp_style_var_when_type_is_apparent = true:suggestion
# Sort using directives
dotnet_sort_system_directives_first = true
