# IDE/Tooling Temp Files
*.tmp
*.Backup.*
*.log

# .NET / Visual Studio
[Bb]in/
[Oo]bj/
*.user
*.userosscache
*.sln.doccache
.vs/
.librarymanager.json
*.user
*.userprefs

# Docker
docker-compose.override.yml*

# Environment / OS
.env
.env.*
!.env.example
.DS_Store
Thumbs.db
